{% extends "admin/base_site.html" %}

{% load i18n %}

{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}

<h2>{% trans 'Page not found' %}</h2>

<table>
    <tr>
        <td>
            <br/><br/><br/><br/><br/><br/>
            {% trans "We're sorry, but the requested page could not be found." %}
            <br/><hr/><br/>
            <a href="/admin" target="_blank">缺陷提交</a>
            <br/><hr/><br/>
            <a href="/city">返回城市</a>
        </td>
        <td>
            <a href="/city"><img src="/media/imgs/error.gif"></a>
        </td>
    </tr>
</table>

{% endblock %}
